<%- include('./includes/head.ejs')  %>
    <section class="details-con">
        <div class="details">
            <img src="<%= post.image %>" alt="<%= post.title %>" />
           <div class="info">
            <h1><%= post.title %></h1>
            <p><%= post.description %></p>
            <button>
                <a class="det-btn" href="/">Go back home</a>
            </button>
            <div class="detail">
                <form action="/admin/delete/<%=post._id %>" method="post">
                    <button>Delete</button>
                </form>
                <a href="/admin/edit-post/<%=post._id %>">Edit</a>
            </div>
           </div>
        </div>
    </section>
<%- include('./includes/foot.ejs')  %>