<%- include('./includes/head.ejs')  %>
    <section class="details-con">
        <div class="details">
            <img src="<%= post.image_url %>" alt="<%= post.title %>" />
           <div class="info">
            <h1><%= post.title %></h1>
            <p><%= post.description %></p>
            <button>
                <a class="det-btn" href="/">Go back home</a>
            </button>
            <div class="btn-con">
               <form action="/admin/post/<%= post.id %>" method="post">
                <button>Delete</button>
               </form>
               <a href="/admin/post-edit/<%= post.id%>">Edit</a>
            </div>
           </div>
        </div>
    </section>
<%- include('./includes/foot.ejs')  %>