<%- include("./includes/head.ejs") %> 
    <div class="Home-con">
        <div class="add-title-con">
            <div>
            <h2>Helo from home pages.</h2>
            <% if(!isLogin) { %>
            <a href="/login" class="create">Create new account</a>
            <% } %>
            </div>
            <% if(isLogin) { %>
            <a href="/admin/create-post">Create a new post</a>
           <form action="/logout" method="post">
                <button>Logout</button>
           </form>
            <% } %>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, soluta repellendus. Illum nobis magni voluptate, porro modi incidunt facilis est amet doloribus obcaecati, deleniti id soluta itaque quasi laboriosam reprehenderit! Quaerat, ducimus eos.</p>
        <hr>
        <h1>Posts</h1>
        <% if(postArray.length < 1) { %>
            <div>
                <p>There was no post yet.</p>
                <p>Want to create new post!!!</p>
                <a href="/admin/create-post">Go to admin</a>
            </div>
        <% } %>
        <% for(let post of postArray) { %> 
        <div class="post-con">
           <div>
             <h4 class="post-title"><%= post.title %></h4>
             <p>Post by @ <%= post.userId.username %></p>
           </div>
            <p class="post-des">
                <a href="/post/<%= post._id %>">See more...</a>
            </p>
        </div>
        <% } %>
    </div>
<%- include("./includes/foot.ejs") %> 
